
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
body{
    width:100%;
   background-color:rgb(255, 255, 255);
   position:relative;
}

.main{
    background-color:#594ef7;
    width:300px;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
}
.main .logo{
    display:flex;
    align-items: center;
    color:#ffffff;
    padding: 30px 0 0 30px;
}
.main .logo img{
    width:40px;
}
.main .item{
    margin-top:40px;
}
.main .item li{
    list-style:none;
    padding:15px 0;
}
.main .item li i {
    color:#a09b9b;
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
    font-size:14px;
    margin: 0 10px 0 25px;

}
.main .item li:hover i{
      color:#a09b9b;
}
.main .item li:hover a{
      color:#a09b9b;
}
.main .item li a{
    text-decoration:none;
    color:#a09b9b;
    font-weight:300;
    transition:0.3s ease;
}









.inteface{
    
    margin-left: 310px;
    width:calc(100% - 301px);
    
    
}
.inteface .navigation{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:rgb(255, 255, 255);
    padding:15px 30px;
    border-bottom:3px solid #594ef7;
}
.inteface .navigation .search{

     display:flex;
     justify-content:flex-start;
     align-items:center;
     padding:10px 14px;
     border:1px solid #d7dbe6;
     border-radius:4px;

}
.inteface .navigation .search i{
                margin-right:14px;

}


.inteface .navigation .search input{
      border:none;
      outline:none;
      font-size:14px;
      display:block;
      visibility:visible;

}
.inteface .navigation .profile{
     display:flex;
     justify-content:flex-start;
     align-items:center;

}
.inteface .navigation .profile i{
      margin-right:20px;
      font-size:19px;
      font-weight:400;

}
.inteface .navigation .profile img{
     width:30px;
     height:30px;
     object-fit:cover;
     border-radius:50%;


}
