
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  margin:0;
  min-height:100vh;
  font-family: Arial, Helvetica, sans-serif;

 
  background-image:
    linear-gradient(
      rgba(0,0,0,0.45),
      rgba(0,0,0,0.45)
    ),
    url("../images/login-bg.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



form{
  background-color: rgba(255, 255, 255, 0.95);
  width:500px;
  height:450px;
  margin:auto;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  border-radius:35px;
  padding-top:30px;
}

input{
  padding:8px;
  width:50%;
  position:absolute;
  left:100px;
  border:1px solid rgba(244, 244, 250, 1);
  border-radius:10px;
}

label{
  position:absolute;
  left:105px;
  font-weight:600;
}

button{
  background-color:#2b5ec5ff;
  color:white;
  width:55%;
  height:35px;
  position:absolute;
  left:22%;
  top:60%;
  border-radius:10px;
  border:none;
  font-weight:700;
  cursor:pointer;
}

button:hover{
  background-color:#244fa5;
}

h1{
  text-align:center;
  margin-bottom:6px;
}

p{
  text-align:center;
  font-size:14px;
}
