form{
     

     background-color: rgba(255, 255, 255, 1);
     width:500px;
     height:450px;
     margin: 0 auto;
     position:absolute;
     top:0%;
     right:0%;
     bottom:0%;
     left:0%;
     margin:auto;
    border-radius:35px;
   

  }
input{

     padding:8px;
     width:50%;
     /*margin:50px;*/
     position:absolute;
     left: 100px;
     border: 1px solid rgba(244, 244, 250, 1);
     border-radius:10px;

}
label{
    
    position:absolute;
    left:105px;
}

h1{
    text-align:center;
}
p{
    text-align:center;
}
body{
    background-color: #e6e6e6ff;
}
