form{
  background-color:#ffffff;
  width:500px;
  padding:28px 0 22px;    
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  border-radius:35px;
}

body{
  background-color:#e6e6e6ff;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  text-align:center;
  margin-bottom:14px;    
}

label{
  display:block;
  margin-left:100px;
  margin-bottom:4px;      
  font-weight:600;
}

input, select{
  display:block;
  margin-left:100px;
  margin-bottom:10px;     
  padding:8px;
  width:50%;
  border:1px solid rgba(60,60,65,1);
  border-radius:10px;
}

input[type="submit"]{
  margin-top:14px;        
  margin-left:100px;
  width:50%;
  padding:10px;
  border-radius:10px;
  border:none;
  background:#2b5ec5;
  color:#ffffff;
  font-weight:700;
  cursor:pointer;
}

input[type="submit"]:hover{
  background:#244fa5;
}

.form-footer{
  margin-top:14px;        
  text-align:center;
  font-weight:500;
}

.error{
  text-align:center;
  color:#dc2626;
  font-size:14px;
  margin-bottom:10px;
}
body{
  margin:0;
  min-height:100vh;
  font-family: Arial, Helvetica, sans-serif;

  background-image:
    linear-gradient(
      rgba(0,0,0,0.45),
      rgba(0,0,0,0.45)
    ),
    url("../images/register-bg.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



form{
  background-color: rgba(255,255,255,0.95);
  width:500px;
  padding:30px;
  margin:auto;
  border-radius:25px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.35);
}

